form {
    color: #777;
    background: #f6f6f3;
    box-shadow: 0px 3px 15px hsla(0,0%,0%,.08);
    margin: 40px auto;
    position: relative;
    width: 350px;
    border: 1px solid #dfdfd3;
    background-image: -webkit-radial-gradient(#d6d5d6 30%, transparent 20%),
                      -webkit-radial-gradient(#cfcfc3 38%, transparent 24%),
                      -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image: -moz-radial-gradient(#d6d5d6 30%, transparent 20%),
                      -moz-radial-gradient(#cfcfc3 38%, transparent 24%),
                      -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-image: radial-gradient(#d6d5d6 30%, transparent 20%),
                      radial-gradient(#cfcfc3 38%, transparent 24%),
                      linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,75%,50%,.1) 95%, hsla(180,75%,50%,.1) 100%);
    background-position: 4px 1px, 4px 0px, 50% 0px;
    background-repeat: repeat-y,  repeat-y, repeat;
    background-size: 30px 30px, 30px 30px, 30px 30px;
    padding: 36px 48px 23px 80px;
}
form:after {
    border-left: 2px solid hsla(0,95%,50%,.1);
    border-right: 2px solid hsla(0,95%,50%,.1);
    bottom: 0;
    content: '';
    left: 60px;
    position: absolute;
    top: 0;
    width: 3px;
}

form a {
    color: hsla(0,75%,37%,1);
    text-decoration: none;
}

form td {
    font: italic 24px/30px 'Loved by the King', cursive;
    line-height: 30px;
    margin-bottom: 30px;
}

form h1 {
    font: italic 30px/30px 'Loved by the King', cursive;
}

.say {
background: transparent;
border: 0px;
outline: 0;
border-bottom: dotted skyBlue;
width: 200px;
font: 20px/30px serif;
font-family: 'Loved by the King', cursive;
resize: none;
}